/* ===================== header ===================== */
body { font-family: 'Kanit', sans-serif!important; font-weight: 300; background-image: url("../../images/background.jpg")!important;  background-repeat: no-repeat;  background-position: center bottom; background-size: cover; background-attachment: fixed; }

.bg-con { background: #17191b; }



#header { background: #17191b; border-bottom:solid 2px #ff6500 ;
    .main-menu {
        a { color:#ee8f21; font-size: 16px; padding: 0px 20px;
            transition: all .2s ease-in-out; &:hover { color: #fff; }
         }
     }
    .logo {
        img { width: 200px; height: auto; margin: 0; padding: 0;}
    }
    .social { padding-left: 10px;
        a { text-decoration: none; color: #ee8f21; padding: 0px 2px; }
        i { font-size: 24px; }
     }
}

/* ===================== body ===================== */

.benner-1 {
    img { width: 100%; height: auto; }
 }

.live {
    .register {
        h4 { color:#ee8f21; }
    }
 }

 #title {
     .title { border-bottom: solid 2px #ee8f21;
        a { text-decoration: none; }
         h3 { display: inline-block; margin: 0; background:#ee8f21 ; color: #000; font-size: 20px; font-weight: 400; height: 40px;
            line-height: 40px; text-align: center; padding: 0px 10px; position: relative;
            &::before { content: ""; position: absolute; left: 100%; bottom: 0; height: 0; width: 0; border: 20px solid #ee8f21;
            border-top-color: transparent; border-right-color:transparent ;}
        }
        p { color: #ee8f21; text-align: right; display: block; font-size: 18px; font-weight: 400; margin: 6px 10px 0px 0px;
            &:hover {color: #fff; } }
     }
 }

 #news {
    .slid-news {
        img { width: 100%; height: auto; display: block; position: relative;}
    .content { background-color: rgba(0, 0, 0, 0.863); border-radius: 0px 0px 5px 5px; position: absolute; bottom:0; left:0; right: 0;width:100%; padding: 0px 5px; margin: 0;}
        p { color: #fff; overflow: hidden; height: 55px; padding: 10px 15px; transition: all .2s ease-in-out; &:hover{ color: #ee8f21;} }
    }
    .vicrow {
        a { text-decoration: none; }
        img { width: 100%; height: auto; }
        p { color: #fff; font-size: 12px; overflow: hidden; height: 35px; padding: 0px 2px; text-align: center; margin: 5px 0px; }
    .title {
        p { color: #ee8f21; text-align: right; font-size: 16px; font-weight: 400;
            &:hover {color: #fff; } }
         }
     }
 }

 .title {
    .title-tded { border-bottom: solid 2px #ee8f21; text-align: center;
        h3 { display: inline-block; margin: 0; background:#ee8f21 ; color: #000; font-size: 20px; font-weight: 400; height: 40px;
            line-height: 40px; text-align: center; padding: 0px 10px; position: relative;
            &::before { content: ""; position: absolute; left: 100%; bottom: 0; height: 0; width: 0; border: 20px solid #ee8f21;
                border-top-color: transparent; border-right-color: transparent;  }

            &::after { content: ""; position: absolute; right: 100%; bottom: 0; height: 0; width: 0; border: 20px solid #ee8f21;
                    border-top-color: transparent; border-left-color: transparent;  }

        }
    }
}

 .zean {
     .img-tded {
         img { width: 100%; height: auto; }
     }
     .bg-grey { background:#e5e5e5; margin: 0;
        p { color: #000; font-size: 14px; margin: 0; padding: 5px 0px 5px 5px ;
            img { padding-left: 10px; width: 30px; height: auto; }
          }
    }
     .tded-step { background: #fff;
        p { color: #000; font-size: 14px; margin: 0; padding: 5px 0px 5px 5px ;
          img { padding-left: 10px; width: 30px; height: auto; }
        }
      }
 }

 .content {
     h3 { color: #ee8f21; }
     p  { color: #fff; }
  }

.page {
    .page-1 { border-bottom: solid 2px #ee8f21; padding-bottom: 5px;
        a { text-decoration: none; color: #fff; &:hover { color: #ee8f21; }}
        i { color: #fff; }
        span { color: #fff; }

    }
}

#all-news {
    .list-news {
        a { text-decoration: none;
            img { width: 100%; height: auto; display: block; position: relative;}
        .content { background-color: rgba(0, 0, 0, 0.863); border-radius: 0px 0px 5px 5px; bottom:0; left:0; right: 0; width:100%;
            padding: 5px 5px; margin: 0;}
            p { color: #fff; font-size: 18px; overflow: hidden; height: 60px; padding: 10px 15px; transition: all .2s ease-in-out; &:hover{ color: #ee8f21;} }
        }
     }
     .img-news {
         img { width: 100%; height: auto; }
      }
     .img-content {
         a { text-decoration: none; }
         p { color: #fff; font-size: 14px; overflow: hidden; height: 40px; transition: all .2s ease-in-out; &:hover{ color: #ee8f21;} }
      }
 }

 .all-news2 {
    .list-news2 {
        a { text-decoration: none; }
        img { width: 100%; height: auto; padding-bottom: 5px; }
        p { color: #fff; font-size: 16px; text-align: center; overflow: hidden; height: 45px; transition: all .2s ease-in-out;
            &:hover{ color: #ee8f21;} }
     }
 }

 .all-vicrow {
    .content-vc {
        img { width: 100%; height: auto; padding: 5px 0px; }
        p { color: #fff; }

     }
  }

  .sidebar {
      img { width: 100%; height: auto; padding: 5px 0px; }
      .list-news3{
          i { color: #ee8f21;}
          a { text-decoration: none; }
         p { color:#fff; font-size: 14px; margin: 0; &:hover { color: #ee8f21; } }
      }
  }

  #sidebar-scroll { position: -webkit-sticky; position: sticky; top: 20px; }

/* ===================== footer ===================== */

#footer { background: #17191b; border-top:solid 2px #ff6500 ;
    .content {
        a { text-decoration: none; }
        p { color: #fff; margin: 0; }
     }
     .LOGO {
         img { width: 100%; height: auto; }
      }
}

footer {
    .footer-copyright{ background: #17191b;
        a { text-decoration: none; color: #ee8f21; &:hover { color: #fff; } }
        span { font-size: 18px; }
        i { font-size: 25px; padding: 0px 2px; }
        span { color: #fff; }
    }

}

.back-to-top { position: fixed; bottom: 25px; right: 25px; display: none;
    i { color:#fff; }
}


/* ===================== Responsive ===================== */
@media (max-width: 576px) {

    #header { background: #17191b; border-bottom:solid 2px #ff6500 ;
        .bg-edge { border-color: #ee8f21; }
        .main-menu {
            a { color:#ee8f21; font-size: 16px; padding: 5px 0px;
                transition: all .2s ease-in-out; &:hover { color: #fff; }
             }
         }
        .logo {
            img { width: 200px; height: auto; margin: 0; padding: 0;}
        }
        .social { padding: 0;
            a { text-decoration: none; color: #ee8f21; padding: 0px; }
            i { font-size: 26px; padding: 0; margin: 5px 2px 5px 2px;  }
         }
    }

    #title {
        .title {
            h3 { font-size: 16px; line-height: 30px; height: 30px;
                &::before { border: 15px solid #ee8f21;
                    border-top-color: transparent; border-right-color:transparent ;}
            }
           p { font-size: 16px; }
        }
    }

    .title {
        .title-tded {
            h3 { display: block;
                &::before { display: none; }
                &::after { display: none; }
            }
        }
    }

    .content {
        h3 { font-size: 18px; }
        p  { font-size: 14px }
     }

     #footer {
        .content {
            p { font-size: 12px; }
         }
         .LOGO {
             img { width: 70%; }
          }
    }

    footer {
        .footer-copyright{
            span { font-size: 16px; }
            i { font-size: 20px;}
        }

    }

    .all-news2 {
        .list-news2 {
            p { font-size: 12px; height: 35px;}
         }
     }

     .all-vicrow {
        .content-vc {
            p { font-size: 12px; }

         }
      }
}

@media (max-width: 767px) {}

@media (max-width: 768px) and (max-width: 991px) {}

@media (max-width: 991px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 992px) {}

@media (min-width: 992px) and (max-width: 1200px) {}

@media (min-width: 1200px) {}

