/* ===================== header ===================== */
body {
  font-family: "Kanit", sans-serif !important;
  font-weight: 300;
  background-image: url("../../images/background.jpg") !important;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed; }

.bg-con {
  background: #17191b; }

#header {
  background: #17191b;
  border-bottom: solid 2px #ff6500; }
  #header .main-menu a {
    color: #ee8f21;
    font-size: 16px;
    padding: 0px 20px;
    transition: all .2s ease-in-out; }
    #header .main-menu a:hover {
      color: #fff; }
  #header .logo img {
    width: 200px;
    height: auto;
    margin: 0;
    padding: 0; }
  #header .social {
    padding-left: 10px; }
    #header .social a {
      text-decoration: none;
      color: #ee8f21;
      padding: 0px 2px; }
    #header .social i {
      font-size: 24px; }

/* ===================== body ===================== */
.benner-1 img {
  width: 100%;
  height: auto; }

.live .register h4 {
  color: #ee8f21; }

#title .title {
  border-bottom: solid 2px #ee8f21; }
  #title .title a {
    text-decoration: none; }
  #title .title h3 {
    display: inline-block;
    margin: 0;
    background: #ee8f21;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0px 10px;
    position: relative; }
    #title .title h3::before {
      content: "";
      position: absolute;
      left: 100%;
      bottom: 0;
      height: 0;
      width: 0;
      border: 20px solid #ee8f21;
      border-top-color: transparent;
      border-right-color: transparent; }
  #title .title p {
    color: #ee8f21;
    text-align: right;
    display: block;
    font-size: 18px;
    font-weight: 400;
    margin: 6px 10px 0px 0px; }
    #title .title p:hover {
      color: #fff; }

#news .slid-news img {
  width: 100%;
  height: auto;
  display: block;
  position: relative; }
#news .slid-news .content {
  background-color: rgba(0, 0, 0, 0.863);
  border-radius: 0px 0px 5px 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0px 5px;
  margin: 0; }
#news .slid-news p {
  color: #fff;
  overflow: hidden;
  height: 55px;
  padding: 10px 15px;
  transition: all .2s ease-in-out; }
  #news .slid-news p:hover {
    color: #ee8f21; }
#news .vicrow a {
  text-decoration: none; }
#news .vicrow img {
  width: 100%;
  height: auto; }
#news .vicrow p {
  color: #fff;
  font-size: 12px;
  overflow: hidden;
  height: 35px;
  padding: 0px 2px;
  text-align: center;
  margin: 5px 0px;
  transition: all .2s ease-in-out; }
  #news .vicrow p:hover {
    color: #ee8f21; }
#news .vicrow .title p {
  color: #ee8f21;
  text-align: right;
  font-size: 16px;
  font-weight: 400; }
  #news .vicrow .title p:hover {
    color: #fff; }

.title .title-tded {
  border-bottom: solid 2px #ee8f21;
  text-align: center; }
  .title .title-tded h3 {
    display: inline-block;
    margin: 0;
    background: #ee8f21;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0px 10px;
    position: relative; }
    .title .title-tded h3::before {
      content: "";
      position: absolute;
      left: 100%;
      bottom: 0;
      height: 0;
      width: 0;
      border: 20px solid #ee8f21;
      border-top-color: transparent;
      border-right-color: transparent; }
    .title .title-tded h3::after {
      content: "";
      position: absolute;
      right: 100%;
      bottom: 0;
      height: 0;
      width: 0;
      border: 20px solid #ee8f21;
      border-top-color: transparent;
      border-left-color: transparent; }

.zean .img-tded img {
  width: 100%;
  height: auto; }
.zean .bg-grey {
  background: #e5e5e5;
  margin: 0; }
  .zean .bg-grey p {
    color: #000;
    font-size: 14px;
    margin: 0;
    padding: 5px 0px 5px 5px; }
    .zean .bg-grey p img {
      padding-left: 10px;
      width: 30px;
      height: auto; }
.zean .tded-step {
  background: #fff; }
  .zean .tded-step p {
    color: #000;
    font-size: 14px;
    margin: 0;
    padding: 5px 0px 5px 5px; }
    .zean .tded-step p img {
      padding-left: 10px;
      width: 30px;
      height: auto; }

.content h3 {
  color: #ee8f21; }
.content p {
  color: #fff; }

.page .page-1 {
  border-bottom: solid 2px #ee8f21;
  padding-bottom: 5px; }
  .page .page-1 a {
    text-decoration: none;
    color: #fff; }
    .page .page-1 a:hover {
      color: #ee8f21; }
  .page .page-1 i {
    color: #fff; }
  .page .page-1 span {
    color: #fff; }

#all-news .list-news a {
  text-decoration: none; }
  #all-news .list-news a img {
    width: 100%;
    height: auto;
    display: block;
    position: relative; }
  #all-news .list-news a .content {
    background-color: rgba(0, 0, 0, 0.863);
    border-radius: 0px 0px 5px 5px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 5px 5px;
    margin: 0; }
  #all-news .list-news a p {
    color: #fff;
    font-size: 18px;
    overflow: hidden;
    height: 60px;
    padding: 10px 15px;
    transition: all .2s ease-in-out; }
    #all-news .list-news a p:hover {
      color: #ee8f21; }
#all-news .img-news img {
  width: 100%;
  height: auto; }
#all-news .img-content a {
  text-decoration: none; }
#all-news .img-content p {
  color: #fff;
  font-size: 14px;
  overflow: hidden;
  height: 40px;
  transition: all .2s ease-in-out; }
  #all-news .img-content p:hover {
    color: #ee8f21; }

.all-news2 .list-news2 a {
  text-decoration: none; }
.all-news2 .list-news2 img {
  width: 100%;
  height: auto;
  padding-bottom: 5px; }
.all-news2 .list-news2 p {
  color: #fff;
  font-size: 16px;
  text-align: center;
  overflow: hidden;
  height: 45px;
  transition: all .2s ease-in-out; }
  .all-news2 .list-news2 p:hover {
    color: #ee8f21; }

.all-vicrow .content-vc img {
  width: 100%;
  height: auto;
  padding: 5px 0px; }
.all-vicrow .content-vc p {
  color: #fff; }

.sidebar img {
  width: 100%;
  height: auto;
  padding: 5px 0px; }
.sidebar .list-news3 i {
  color: #ee8f21; }
.sidebar .list-news3 a {
  text-decoration: none; }
.sidebar .list-news3 p {
  color: #fff;
  font-size: 14px;
  margin: 0; }
  .sidebar .list-news3 p:hover {
    color: #ee8f21; }

#sidebar-scroll {
  position: -webkit-sticky;
  position: sticky;
  top: 20px; }

/* ===================== footer ===================== */
#footer {
  background: #17191b;
  border-top: solid 2px #ff6500; }
  #footer .content a {
    text-decoration: none; }
  #footer .content p {
    color: #fff;
    margin: 0; }
  #footer .LOGO img {
    width: 100%;
    height: auto; }

footer .footer-copyright {
  background: #17191b; }
  footer .footer-copyright a {
    text-decoration: none;
    color: #ee8f21; }
    footer .footer-copyright a:hover {
      color: #fff; }
  footer .footer-copyright span {
    font-size: 18px; }
  footer .footer-copyright i {
    font-size: 25px;
    padding: 0px 2px; }
  footer .footer-copyright span {
    color: #fff; }

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none; }
  .back-to-top i {
    color: #fff; }

/* ===================== form - Login ===================== */
/* ===================== form - Login ===================== */
/* ===================== Responsive ===================== */
@media (max-width: 576px) {
  #header {
    background: #17191b;
    border-bottom: solid 2px #ff6500; }
    #header .bg-edge {
      border-color: #ee8f21; }
    #header .main-menu a {
      color: #ee8f21;
      font-size: 16px;
      padding: 5px 0px;
      transition: all .2s ease-in-out; }
      #header .main-menu a:hover {
        color: #fff; }
    #header .logo img {
      width: 200px;
      height: auto;
      margin: 0;
      padding: 0; }
    #header .social {
      padding: 0; }
      #header .social a {
        text-decoration: none;
        color: #ee8f21;
        padding: 0px; }
      #header .social i {
        font-size: 26px;
        padding: 0;
        margin: 5px 2px 5px 2px; }

  #title .title h3 {
    font-size: 16px;
    line-height: 30px;
    height: 30px; }
    #title .title h3::before {
      border: 15px solid #ee8f21;
      border-top-color: transparent;
      border-right-color: transparent; }
  #title .title p {
    font-size: 16px;
    margin: 0; }

  .title .title-tded h3 {
    display: block; }
    .title .title-tded h3::before {
      display: none; }
    .title .title-tded h3::after {
      display: none; }

  .content h3 {
    font-size: 18px; }
  .content p {
    font-size: 14px; }

  #footer .content p {
    font-size: 12px; }
  #footer .LOGO img {
    width: 70%; }

  footer .footer-copyright span {
    font-size: 16px; }
  footer .footer-copyright i {
    font-size: 20px; }

  .all-news2 .list-news2 p {
    font-size: 12px;
    height: 35px; }

  .all-vicrow .content-vc p {
    font-size: 12px; } }
